* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #05386b;
}

header {
    padding: 50px;
    background-color:  #5cdb95;
}

main {
    padding: 50px;
    background-color: #edf5e1;
}

footer {
    padding: 50px;
    background-color: #05386b;
    color: #edf5e1;
}

h1, h2, main h3, h4, h5, h6 {
    margin-bottom: 20px; 
}

a {
    display: inline-block;
    color: #5cdb95; 
    text-decoration: none; 
    margin-bottom: 20px; 
    margin-top: 20px;
}

a:hover {
    text-decoration: underline; 
}

ol {
    margin-bottom: 20px; 
}

form {
    max-width: 600px;
    width: 100%;
    background-color: #05386b;
    padding: 30px;
    border-radius: 4px;
    margin-bottom: 20px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #05386b;
    border-radius: 4px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

button {
    background-color: #5cdb95; 
    color: #05386b;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4aaf80; 
}

img, video {
    max-width: 600px; 
    height: auto;
    display: block;
    margin-bottom: 20px; 
}